<div class="donate">
  <p>Please help the shop</p>

  <button data-stripe="donate">Donate $2</button>

</div>
<br/>
<br/>
<br/>
<%# the best way to access some information from the controller
inside the view is to use an instance variables 
eg. @listing %>
<div class="listings-container">
<ul>
  <h1>Books Catalogue</h1>
  <br/>
    <% for listing in @listings %>
    <li>
        <%= link_to "#{listing.title} - #{number_to_currency(listing.price)}",
         listing_path(listing.id) %>
    </li>
    <% end %>
</ul>
</div>

<script src="https://js.stripe.com/v3/"></script>
<script>
  document
    .querySelector("[data-stripe='donate']")
    .addEventListener("click", () => {
      const stripe = Stripe(
        "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
      );

      stripe.redirectToCheckout({
        sessionId: "<%= @session_id %>"
      });
    });
</script>