/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bulma
 *= require_tree .
 *= require_self
 */
 .topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

  .imagen {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }

  .contact {
      color: green;
  }

  .container {
    overflow: hidden;
    width: 80vw;   
    margin: auto;
    height: 100%;
  }

  .form-container {
    
    overflow: hidden;
    width: 80vw;   
    margin-top: 25px;
    margin-left: 25px;
  
   
  }

  .listings-container {
    
    overflow: hidden;
    width: 80vw;   
    margin-top: 25px;
    margin-left: 25px;
    height: 100%;
  }

  h2 {
    text-align: center;
    font-family: var(--main-heading-font);
    font-size: 40px;
}

.welcome {
    text-align: center;
    font-size: 20px;
}

.donate {
    margin-top: 5px;
    margin-left: 85%;
    font-size: 13px;
}

button {
   background-color: #c3ebfa;
   border-radius: 8px;
   font-size: 12px;
}